.navbar{
  
    border-bottom: 1px solid #000;
}

.navbar li{
    padding: 10px;
    font-size: calc(10px + 2vmin);
   
}

.navbar a{
    color: black;
    text-decoration: none;
}
.navbar a:hover{
    color: #61dafb;
}

.home__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
    font-size: calc(10px + 2vmin);
    padding: 10px;
}
.home__container a{
    color: black;
    text-decoration: none;
}
.home__container button{
    padding: 10px;
    font-size: calc(10px + 2vmin);
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.quizes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #000;
    font-size: calc(10px + 2vmin);
    padding: 10px;
}

.quizes .start{
    padding: 10px;
    font-size: calc(10px + 2vmin);
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}
.quizes .start:hover{
    background-color: #000;
    color: #61dafb;
}
.quizes .option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: calc(10px + 2vmin);
    padding: 10px;
}

.answers{
    padding: 20px;
}
